<!-- wp:pattern {"slug":"bizora/banner"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"bizora/about-us"} /-->
  <!-- wp:pattern {"slug":"bizora/process"} /-->
  <!-- wp:pattern {"slug":"bizora/services"} /-->
  <!-- wp:pattern {"slug":"bizora/features"} /-->
  <!-- wp:pattern {"slug":"bizora/why-us"} /-->
  <!-- wp:pattern {"slug":"bizora/faq"} /-->
  <!-- wp:pattern {"slug":"bizora/testimonials"} /-->
  <!-- wp:pattern {"slug":"bizora/call-to-action"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
